{{- if eq .chezmoi.hostname "alexander-c340" }}
Xft.dpi: 106

i3.main_screen: HDMI1
i3.secondary_screen: eDP1

! Colorscheme !
*.background: #1E1E2E
*.background_alt: #5C6370
*.foreground: #CDD6F4
*.foreground_alt: #BAC2DE
*.primary: #F5C2E7
*.secondary: #CBA6F7
*.alert: #F38BA8
*.magenta: #CBA6F7
*.red: #E06C75
*.green: #A6E3A1
*.yellow: #F9E2AF
*.blue: #89B4FA
*.cyan: #89DCEB
*.white: #B4BEFE
*.orange: #FAB387
{{- end }}
