#!/bin/sh

# Erlang/Elixir
asdf plugin add erlang
asdf plugin add elixir

asdf install erlang 25.3
asdf global erlang 25.3
asdf install elixir 1.14.4-otp-25
asdf global elixir 1.14.4-otp-25

{{- if eq .chezmoi.os "darwin" }}
exit 0
{{- end}}

# Plugins
asdf plugin add golang
asdf plugin add nodejs
asdf plugin add ruby

# Go
asdf install golang 1.18.1
asdf global golang 1.18.1

# Node
asdf install nodejs 10.23.0
asdf install nodejs lts
asdf global nodejs lts

# Ruby
asdf install ruby 3.0.2
asdf global ruby 3.0.2
