{{- if eq .chezmoi.os "darwin" }}
{{-
`{
       "auths": {},
       "psFormat": "table {{.ID}}: {{.Names}}\\t{{.Image}}\\t{{.Status}}\\t{{.State}}\\t{{.Ports}}",
       "currentContext": "colima"
}
`
-}}
{{- else -}}
{{
`{
  "credsStore": "desktop",
  "psFormat": "table {{.ID}}: {{.Names}}\\t{{.Image}}\\t{{.Status}}\\t{{.State}}\\t{{.Ports}}"
}
`
-}}
{{- end -}}
